
/* --------------------------------------------------------
  Typographhy
-------------------------------------------------------- */
body {
  font: normal 12px/1.6666 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 14px;
  font-weight: bold;
}
h2 {
  font-size: 12px;
  font-style: italic;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
p {
  margin: 0 0 20px;
}
  p:last-child { margin: 0;}
a {
  text-decoration: none;
  color: #9854b4;
}
  a:hover {
    color: #b063d0;
    text-decoration: underline;
}

ul li { font-style: italic;}

strong { font-weight: bold;}

em { font-style: italic;}

/* --------------------------------------------------------
  Utility Classes
-------------------------------------------------------- */

.icon {
  height: 12px;
  width: 12px;
  padding-right: 5px;
  margin: -2px 0;
  display: inline-block;
  background: url(../img/sprite.png) 0 0 no-repeat;
}

.button {
  display: block;
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  text-align: center;
  border: 1px solid #d2c7d6;
  margin-bottom: 20px;
            border-radius: 4px;
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
  .button:last-child { margin-bottom: 0;}

.inner {
  padding: 10px;
}

.inner-2 {
  padding: 20px;
}

.hover-glow {
  cursor: pointer;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
  .hover-glow:hover {
    background-color: #ffffda;
    box-shadow: inset 0 0 0 5px #FFE7A8;
}

/* --------------------------------------------------------
  Layout
-------------------------------------------------------- */

.map-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 240px;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 239px;
  border-right: 1px solid #634e6a;
  background: #f2eff3 url(../img/dotgrid.png) 0 0 repeat;
  z-index: 100;
  overflow: hidden;
}

#header {
  position: relative;
  color: white;
  background-color: #312c33;
  z-index: 1;
  height: 140px;
  border-bottom: 1px solid #d2c7d6;
}

#changesets {
  position: absolute;
  top: 141px;
  bottom: 39px;
  left: 0; right: 0;
  overflow: auto;
}

/* --------------------------------------------------------
  Header
-------------------------------------------------------- */

.branding { border-bottom: 1px solid #947a9d;}

.logo {
  background: url(../img/sprite.png) 0 0 no-repeat;
  display: block;
  float: left;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

#zoominfo {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* --------------------------------------------------------
  Changesets
-------------------------------------------------------- */

#changesets .loader {
  display: block;
  position: relative;
  height: 40px;
  background: url(../img/sprite.png) 0 -250px no-repeat;
  width: 40px;
  padding: 0px;
          border-radius: 4px;
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: auto;
  margin-top: 40px;
}

#changesets .loader img {
  position: absolute;
  top: 8px;
  left: 8px;
}

#changesets .inner {
  border-bottom: 1px solid #d2c7d6;
}

.changeset {
  background: white;
}

.changeset.highlight {
  background-color: #ffffda;
  box-shadow: inset 0 0 0 5px #FFE7A8;
}

.changeset .id {
  position: relative;
  font-size: 16px;
  float: left;
  font-weight: bold;
}

.changeset .icon.clock {
  background-position: 0 -100px;
}

.changeset .user {
  margin-left: 5px;
  line-height: 26px;
}

/* --------------------------------------------------------
 Footer
-------------------------------------------------------- */

#footer {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  border-top: 1px solid #d2c7d6;
  text-overflow: ellipsis;
}

.icon.feed {
  background-position: -40px -50px;
}

#footer p {
  margin-left: 0px;
  font-size: 11px;
}

/* --------------------------------------------------------
 Map Overlays
-------------------------------------------------------- */

.overlay {
  position: absolute;
  background: white;
  display: block;
  z-index: -1;
  opacity: 0;
  right: -600px;
  width: 160px;
  top: -10px;
  border: 1px solid #634e6a;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
  -webkit-transition: opacity .3s ease, z-index 0 ease 1s, right 0 ease 1s;
     -moz-transition: opacity .3s ease, z-index 0 ease 1s, right 0 ease 1s;
      -ms-transition: opacity .3s ease, z-index 0 ease 1s, right 0 ease 1s;
       -o-transition: opacity .3s ease, z-index 0 ease 1s, right 0 ease 1s;
          transition: opacity .3s ease, z-index 0 ease 1s, right 0 ease 1s;
}
  .active .overlay {
    z-index: 100;
    opacity: 1;
    right: 50px;
  -webkit-transition: opacity .3s ease, z-index 0, right 0;
     -moz-transition: opacity .3s ease, z-index 0, right 0;
      -ms-transition: opacity .3s ease, z-index 0, right 0;
       -o-transition: opacity .3s ease, z-index 0, right 0;
          transition: opacity .3s ease, z-index 0, right 0;
}

.overlay::after {
  content:'';
  position: absolute;
  display: block;
  right: -10px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #634e6a;
}

ul.overlay li { margin-bottom: 10px;}
ul.overlay li:last-child { margin-bottom: 0px;}

.info .overlay {
  width: 480px;
}

.info .button {
  margin-right: 20px;
  width: 180px;
  float: left;
}
  .info .button:last-child { margin-right: 0;}

/* --------------------------------------------------------
  Map
-------------------------------------------------------- */

.leaflet-control-container {
  position: absolute;
  right: 40px;
}
.leaflet-left .leaflet-control { margin-left: 0 !important;}

.leaflet-control-zoom a {
  background: #312c33 url(../img/sprite.png) 5px -195px no-repeat !important;
  height: 20px !important;
  width: 20px !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-in { background-position: -20px -195px !important;}

#attribution {
  z-level: 7;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
  #attribution a {
    color: #333;
}
.nav-container {
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 10px;
  top: 75px;
  z-index: 1000;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.nav-container.info { top: 115px;}

.nav-container a.nav-link {
  height: 20px;
  width: 20px;
  background: #312c33 url(../img/sprite.png) 4px -146px no-repeat;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.nav-container.info a.nav-link { background-position: 4px -46px;}

.leaflet-control-zoom a:hover,
.nav-container a.nav-link:hover,
.nav-container.active a.nav-link {
  background-color: #b063d0 !important;
}

.summary-tile {
  width: 256px;
  height: 256px;
  background-color: rgba(255, 255, 255, 0.25);
  border:1px solid;
  text-align: center;
  vertical-align: middle;
}

.summary-tile .count {
  margin: 75px 0 0 0;
  font-weight: bold;
  font-size: large;
}

.summary-tile .icon.clock {
  background-position: 0 -100px;
}
