
/* --------------------------------------------------------
  Typographhy
-------------------------------------------------------- */
body {
  font: normal 12px/1.6666 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
  }
h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  }
h1 {
  font-size: 14px;
  font-weight: bold;
  }
h2 {
  font-size: 12px;
  font-style: italic;
  }
h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  }
p {
  margin: 0 0 20px;
  }
  p:last-child { margin: 0;}
a {
  text-decoration: none;
  color: #9854b4;
  }
  a:hover {
    color: #b063d0;
    text-decoration: underline;
  }

ul li { font-style: italic;}

strong { font-weight: bold;}
em { font-style: italic;}

/* --------------------------------------------------------
  Utility Classes
-------------------------------------------------------- */

.icon {
  height: 12px;
  width: 12px;
  padding-right: 5px;
  margin: -2px 0;
  display: inline-block;
  background: url(../img/sprite.png) 0 0 no-repeat;
  }

.inner {
  padding: 20px;
  }

/* --------------------------------------------------------
  Layout
-------------------------------------------------------- */

#map {
  position: absolute;
  top: 0;
  left: 240px;
  bottom: 0;
  right: 0;
  }
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 239px;
  border-right: 1px solid #634e6a;
  background: #f2eff3 url(../img/dotgrid.png) 0 0 repeat;
  z-index: 100;
  overflow: hidden;
  }

#header {
  position: relative;
  color: white;
  background-color: #312c33;
  z-index: 1;
  height: 165px;
  border-bottom: 1px solid #d2c7d6;
  }

#changesets {
  position: absolute;
  top: 166px;
  bottom: 0;
  left: 0; right: 0;
  overflow: auto;
  }

/* --------------------------------------------------------
  Header
-------------------------------------------------------- */

.branding { border-bottom: 1px solid #947a9d;}

.logo {
  background: url(../img/sprite.png) 0 0 no-repeat;
  display: block;
  float: left;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  }

/* --------------------------------------------------------
  Changesets
-------------------------------------------------------- */

#changesets .inner {
  border-bottom: 1px solid #d2c7d6;
  }

.changeset {
  background: white;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  }
  .changeset.highlight {
    background-color: #ffffda;
    box-shadow: inset 0 0 0 10px #fef0c7;
    }
.changeset .id {
  display: block;
  position: relative;
  font-size: 20px;
  float: left;
  font-weight: bold;
  }
  .changeset .id::after {
    content:'';
    position: absolute;
    display: block;
    right: -10px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #9854b4;
  }
  .changeset:hover .id::after { border-left-color: #b063d0;}

.changeset .icon.clock {
  background-position: 0 -100px;
}

.changeset .comment {
  clear: left;
  }

/* --------------------------------------------------------
 Map Overlays
-------------------------------------------------------- */

.overlay {
  position: absolute;
  background: white;
  display: none;
  right: 50px;
  width: 160px;
  top: -10px;
  border: 1px solid #634e6a;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
  }
  .active .overlay { display: block; }

.overlay::after {
  content:'';
  position: absolute;
  display: block;
  right: -5px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #634e6a;
  }

.editor .overlay a.inner {
  display: block;
  border-bottom: 1px solid #d2c7d6;
  border-radius: 6px 6px 0 0;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
  }
  .editor .overlay a.inner:hover {
    background-color: #ffffda;
    box-shadow: inset 0 0 0 10px #fef0c7;
    }
  .editor .overlay li:last-child a.inner {
    border-bottom: 0;
    border-radius: 0 0 6px 6px;
    }

.info .overlay {
  width: 480px;
}

/* --------------------------------------------------------
  Map
-------------------------------------------------------- */

.leaflet-control-container {
  position: absolute;
  right: 40px;
  }
  .leaflet-left .leaflet-control { margin-left: 0 !important;}
  .leaflet-control-zoom a {
    background: #312c33 url(../img/sprite.png) 5px -195px no-repeat !important;
    height: 20px !important;
    width: 20px !important;
    }
    .leaflet-control-zoom a.leaflet-control-zoom-in { background-position: -20px -195px !important;}

.nav-container {
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 1000;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  }
  .nav-container.info { top: 105px;}

.nav-container a.nav-link {
  height: 20px;
  width: 20px;
  background: #312c33 url(../img/sprite.png) 4px -146px no-repeat;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }
  .nav-container.info a.nav-link { background-position: 4px -46px;}

.leaflet-control-zoom a:hover,
.nav-container a.nav-link:hover,
.active .nav-container a.nav-link {
  background-color: #b063d0 !important;
  }
